
<h1>Add Book</h1>

<form method = "POST" action = "/add-blog">
    <input type="text" placeholder="title" name="title" />
    <input type="text" placeholder="body" name="body" />
    <label>Is Published</label> <input type="checkbox" name="isPublished" />
    <button>Save</button>
</form>

