
<html>
    <head></head>
    <body>
        <h1>Add Trip</h1>

        <form method="POST" action="/create-trip">
            <input type="text" placeholder="Enter title" name="title" />       
            <input type="text" placeholder="Enter departure date" name="departureDate" />       
            <input type="text" placeholder="Enter return date" name="returnDate" />
            <input type="text" placeholder="Enter image URL" name="imgURL" />       
            <button>Add</button>
        </form>


    </body>
</html>