<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trips</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <div id="header">
            <h1>Trips</h1>
            <a href="/add-trip">Add Trip</a>
        </div>
        
        <div id="container">
            <h3>You have {{totalTrips}} trips planned:</h3>
            {{#allTrips}}
            <form class="trip_container" method = "POST" action="/delete-trip">
                <input type="hidden" value="{{tripId}}" name="tripId">
                <div class="trip_div">
                    {{title}}:  {{departureDate}} - {{returnDate}}
                </div>
                <div class="img_div">
                    <image src={{imgURL}} width=150px>
                </div>
                <div class="button_div">
                    <button class="delete_button">Delete</button>
                </div>
            </form>
            {{/allTrips}}
        <div>
    </body>
</html>

